<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web SocketIO</title>
    <link rel="stylesheet" type="text/css" href="Stylesheet.css">
    <script src="jquery.js"></script>
    <script src="https://esp8266-socket-io.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="Script.js"></script>
</head>

<body>
    <div id="frame">
        <h3 id="console">Console</h3>
        <div id="led"></div>
        <br>
        <input type="button" id="button" value="On/Off">
    </div>
</body>

</html>